*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

ul{
  display: flex;
  align-items: center;
  gap: 44px;
  list-style: none;
}

.list{
  font-size: 18px;
  font-weight: 600;
}

.nav_main{
  display: flex;
  align-items: center;
  gap: 20px;
}
